[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/rosyx/Desktop/terminal.desktop]
row=0
col=7

[/home/rosyx/Desktop/computer.desktop]
row=0
col=6

[/]
row=0
col=5

[/home/rosyx]
row=0
col=4

